# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Other stuff
firesight
firesightmain
version.h
CMakeCache.txt
install_manifest.txt
CMakeFiles/*
*.cmake
Makefile

