# Other stuff
CMakeCache.txt
install_manifest.txt
CMakeFiles/*
core
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
*.log
Makefile
target/*
ignore/*
msvc/*
jansson/win32/build/*
jansson/win32/output/*
jansson/win32/jansson.sdf
jansson/win32/jansson.suo
